<!DOCTYPE html>
<html>

<head>
    <title>Mi Integración con Checkout Pro</title>
</head>

<body>
    <h1>REDIRIGIR A MP</h1>
    <div id="walletBrick_container"></div>

    <a id="link" href="">IR A PAGAR</a>

    <button onclick="boton()" >AAAAAAAAAAAA</button>

    <script>
        document.addEventListener('DOMContentLoaded', redirectToMP())
        //const public_key = "APP_USR-57be6597-c09a-48d8-af43-acc671f6d3f3";
        //const mp = new MercadoPago("APP_USR-57be6597-c09a-48d8-af43-acc671f6d3f3");
        var link = ""

        function redirectToMP() {
            fetch("/pay/redirect_to_pay")
                .then(response => { 
                    return response.json();  
                })
                .then(
                    preference => {
                        console.log("preference", preference);
                        console.log("init_point", preference.preference.init_point);
                        console.log("back_urls", preference.preference.back_urls);
                        console.log("success", preference.preference.back_urls.success);
                        document.getElementById("link").href = preference.preference.init_point;
                        link = preference.preference.init_point;
                });
        }

        function boton(){
            window.location.href = link;
        }
    </script>
</body>