<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar Pago - Bob el Alquilador</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="svg" href="{{ url_for('static', filename='image/Solo logo.svg') }}">
</head>
<body class="bg-gradient-to-br from-red-100 to-red-200 min-h-screen flex items-center justify-center">

  <div class="bg-white rounded-2xl shadow-xl p-8 max-w-md w-full text-center">
    <h1 class="text-2xl font-bold text-bob-red mb-6">ESTÁ POR PAGAR</h1>

    <!-- onclick="redirectToMercadoPago()" => ESTO LO AGREGO JUANI PAR QUE FUNCIONE EL PAGAR CON MERCADO PAGO -->
    <button
      onclick="redirectToMercadoPago()"
      class="w-full bg-red-500 hover:bg-red-600 text-white font-semibold py-3 rounded-lg transition duration-300 shadow-md">
      Confirmar Reserva - PAGAR
    </button>
  </div>
<script>
    document.addEventListener('DOMContentLoaded', loadLink())
    var link_to_pay = ""
    // CODIGO QUE AGREGO JUANI PARA REDIRIGIR A MERCADO PAGO
    function loadLink(){
      fetch("/pay/redirect_to_pay")
      .then(response => { 
        if(!response.ok){
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();  
      })
      .then( preference => {
        console.log("preference", preference)
        link_to_pay = preference.preference.init_point; // ESTO DEBE SER ASI PARA PODER REDIRIGIR A MERCADO PAGO
      })
      .catch(error => { console.log("Error: ", "error") });
    }

    function redirectToMercadoPago(){
      window.location.href = link_to_pay;
    }

    // CODIGO QUE AGREGO JUANI PARA REDIRIGIR A MERCADO PAGO
</script>