<h1>ESTA POR PAGAR</h1>

 <!-- onclick="redirectToMercadoPago()" => ESTO LO AGREGO JUANI PAR QUE FUNCIONE EL PAGAR CON MERCADO PAGO -->
      <button
          onclick="redirectToMercadoPago()">
          Confirmar Reserva - PAGAR
        </button>

<script>
    document.addEventListener('DOMContentLoaded', loadLink())
    var link_to_pay = ""
    // CODIGO QUE AGREGO JUANI PARA REDIRIGIR A MERCADO PAGO
    function loadLink(){
      fetch("/pay/redirect_to_pay")
      .then(response => { 
        if(!response.ok){
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();  
      })
      .then( preference => {
        console.log("preference", preference)
        link_to_pay = preference.preference.init_point; // ESTO DEBE SER ASI PARA PODER REDIRIGIR A MERCADO PAGO
      })
      .catch(error => { console.log("Error: ", "error") });
    }

    function redirectToMercadoPago(){
      window.location.href = link_to_pay;
    }

    // CODIGO QUE AGREGO JUANI PARA REDIRIGIR A MERCADO PAGO
</script>